<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">

	<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
	<script>
		  $(document).ready(function(){
			$('.ecirculo').hide().fadeIn(600);
		  });
	</script>


	<title>{% block title %}Municipalidad de FIambala{% endblock %}</title>
	<style>
		#body{

				background: #d3cce3; /* fallback for old browsers */
  				background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */
  				background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}

	</style>
</head>

<body>
	{% block nav%}
	<!-----------barra de navegacion------------>
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top scrolling-navbar" style="background-color: #b136c7; height:80px" >
		<img src="{{ url_for('static', filename = 'img/fiambala.png') }}" width="40" height="40" class="d-inline-block align-left">

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse justify-content-md-left">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Municipalidad de Fiambala</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{{ url_for('inicio') }}">Home</a>
		  </li>
			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ciudad</a>
    				<div class="dropdown-menu" style="opacity:0.9;">
      					<a class="dropdown-item" href="#">Action</a>
      					<a class="dropdown-item" href="#">Another action</a>
      					<a class="dropdown-item" href="#">Something else here</a>
      					<div class="dropdown-divider"></div>
      					<a class="dropdown-item" href="#">Separated link</a>
    				</div>
  			</li>
			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Gobierno</a>
    				<div class="dropdown-menu" style="opacity:0.9;">
						<a class="dropdown-item" href="#">Intendente</a>
      					<a class="dropdown-item" href="#">Another action</a>
      					<a class="dropdown-item" href="#">Something else here</a>
      					<div class="dropdown-divider"></div>
      					<a class="dropdown-item" href="#">Separated link</a>
    				</div>
  			</li>
			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Noticias</a>
    				<div class="dropdown-menu" style="opacity:0.9;">
      					<a class="dropdown-item" href="#">Action</a>
      					<a class="dropdown-item" href="#">Another action</a>
      					<a class="dropdown-item" href="#">Something else here</a>
      					<div class="dropdown-divider"></div>
      					<a class="dropdown-item" href="#">Separated link</a>
    				</div>
  			</li>
			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Eventos</a>
    				<div class="dropdown-menu" style="opacity:0.9;">
      					<a class="dropdown-item" href="{{ url_for('curso_infor')}}" >Informatica y Programacion</a>
      					<a class="dropdown-item" href="#">Dibujo y Diseño Tecnico</a>
      					<a class="dropdown-item" href="#">Something else here</a>
      					<div class="dropdown-divider"></div>
      					<a class="dropdown-item" href="#">Separated link</a>
    				</div>
  			</li>
		</ul>
	  </div>
		<a class="navbar-brand" href="https://www.facebook.com/municipalidad.tinogasta">
			<img src="{{ url_for('static', filename = 'img/facebook.png') }}" width="25" height="25" class="d-inline-block">
		</a>
		<a class="navbar-brand" style="font-size:15px">
			<img src="{{ url_for('static', filename = 'img/tel.png') }}" width="35" height="35" class="d-inline-block">Tel. +54-3837-432344
		</a>
	</nav>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<lu>
			{% for message in messages%}
				<div class="alert alert-success">
					{{message}}
				</div>
			{% endfor %}
			</lu>
		{% endif %}
	{% endwith %}

	{% endblock %}

	{% block content%}

	{% endblock %}
	{% block footer %}
	  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Municipalidad de Fiambala</p>
    </div>
    <!-- /.container -->
  </footer>
	{% endblock %}
</body>

</html>