{% extends 'base/base.html' %}



{% block content %}

<div class="jumbotron p-4 p-md-3 text-white rounded" style="background-color: #2c71a3">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-bold p-4">Técnologia & Programación</h1>
      <p class="lead my-2">Tomá nuestros cursos presenciales y crecer profesionalmente.</p>
      <p class="lead my-2">Tambien podes elegir la opción online tutorizados con certificación.</p>
    </div>
</div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Sistemas operativos</strong>
          <h3 class="mb-0">Introdución a Linux</h3>
           <div class="mb-1 text-muted">Basico / Presencial</div>
          <div class="mb-1 text-muted">Conocimientos previos: Ninguno</div>
          <p class="card-text mb-auto">En este curso aprenderas los coceptos basicos del software libre linux.</p>
          <a href="#" class="stretched-link">Opción online</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{{ url_for('static', filename = 'img/linux.png') }}">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Programación</strong>
          <h3 class="mb-0">Python desde Cero</h3>
          <div class="mb-1 text-muted">Basico / Presencial</div>
          <div class="mb-1 text-muted">Conocimientos previos: Ninguno</div>
          <p class="mb-auto">En este curso aprenderas los conceptos del lenguaje de programación.</p>
          <a href="#" class="stretched-link">Opción online</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{{ url_for('static', filename = 'img/python.png') }}">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning">Diseño</strong>
          <h3 class="mb-0">Doseño con Autocad</h3>
          <div class="mb-1 text-muted">Basico / Presencial</div>
          <div class="mb-1 text-muted">Conocimientos previos: Ninguno</div>
          <p class="mb-auto">Aprende las herramientas basicas para dibujar con presicion tus proyectos de arquitectura.</p>
          <a href="#" class="stretched-link">Opción online</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{{ url_for('static', filename = 'img/autocad.jpg') }}">
        </div>
      </div>
    </div>
  </div>


{% endblock %}